@import '../../00-base/functions/functions-import';

.hero {
  @include breakpoint(tablet) {
    max-width: 440px;
    margin-inline: auto;
  }

  &__links,
  &__title {
    text-align: center;
  }

  &__body {
    @include text--large;
  }

  &__links {
    margin-top: $space;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: rem(10px);
  }

  &--large {
    @include breakpoint(tablet) {
      max-width: 600px;
    }
  }
}
