@import '../../00-base/functions/functions-import';

.hero {
  max-width: 600px;
  margin-inline: auto;
  text-align: center;

  &__links {
    margin-top: $space;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: rem(10px);
  }

  &__body {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  &--header {
    @include breakpoint(tablet) {
      max-width: 440px;
    }

    .hero__body {
      @include text--large;

      @include breakpoint(tablet) {
        text-align: left;
      }
    }
  }
}
