@import '../../00-base/functions/functions-import';

.text-image {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: $space;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr rem(200px);
      place-items: center start;
      justify-content: space-between;
    }
  }

  &__text {
    text-align: center;

    @include breakpoint(tablet) {
      max-width: rem(500px);
      text-align: left;
    }
  }

  &__image {
    line-height: 0;

    img {
      width: 100%;
      height: auto;
      border-radius: 100%;
    }
  }
}
