.text {
  &--secondary {
    color: $color-secondary;
  }

  &--right {
    text-align: right;
  }
}

.section-space {
  padding-block: 50px;

  @include breakpoint(desktop) {
    padding-block: 80px;
  }

  &--small {
    padding-block: 25px;

    @include breakpoint(desktop) {
      padding-block: 40px;
    }
  }

  &--top {
    padding-top: 50px;

    @include breakpoint(desktop) {
      padding-top: 80px;
    }

    &--small {
      padding-top: 25px;

      @include breakpoint(desktop) {
        padding-top: 40px;
      }
    }
  }

  &--bottom {
    padding-bottom: 50px;

    @include breakpoint(desktop) {
      padding-bottom: 80px;
    }

    &--small {
      padding-bottom: 25px;

      @include breakpoint(desktop) {
        padding-bottom: 40px;
      }
    }
  }
}
