@import '../../00-base/functions/functions-import';

.socials {
  .menu {
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end;
    gap: rem(20px);
  }

  a {
    width: rem(24px);
    height: rem(24px);
    text-indent: -999em;
    overflow: hidden;
    position: relative;
    display: block;

    svg {
      width: 100%;
      height: 100%;
      text-indent: unset;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:hover {
      color: $color-primary;

      svg {
        color: $color-primary;
        fill: $color-primary;
        filter: drop-shadow(0 0 3px $color-primary);
      }
    }
  }
}
