@import '../../00-base/functions/functions-import';

.block-example {
  background-color: red;
  background-image: url('../../../assets/images/logo.png');
  margin: 0;

  @include breakpoint(desktop) {
    margin: 0 $space-double 0 0;
  }
}
