/*
 * General Variables
 * Note: colors should go into
 * components/00-base/01-colors/_color-vars.css
 * and breakpoint related vars into
 * components/00-base/base/_breakpoints.css
*/

// Fonts
$font-body: 'Open Sans', serif;
$font-heading: 'Open Sans', serif;

$base-font-size: 16px;
$base-line-height: 24px;

$container-width: rem(1020px);

// Spacing
$space: rem(20px);

// Times
$space-double: calc($space * 2);
$space-triple: calc($space * 3);
$space-quadruple: calc($space * 4);
$space-quintuple: calc($space * 5);
$space-sextuple: calc($space * 6);
$space-septuple: calc($space * 7);

// Divided
$space-one-half: calc($space / 2);
$space-one-third: calc($space / 3);
$space-one-fourth: calc($space / 4);
$space-one-fifth: calc($space / 5);
$space-one-sixth: calc($space / 6);
$space-one-seventh: calc($space / 7);
$space-one-eighth: calc($space / 8);

$blue: #0ca4a5;
$blue-e3: #e3ffff;
$purple: #7058f5;
$purple-f0: #f0f1fe;
$color-primary: $blue;
$color-secondary: $purple;
$color-text: #1c1e26;

/*
 * Use this on the outer wrapper of page-level elements.
 * It ensures consistent spacing between elements on the page.
 */
@mixin space-stack-page {
  margin-bottom: $space-double;
}
